html {
  min-height: 100%; margin:0; padding:0;
}

body {
  margin: 0px;
  color: cyan;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url('../img/rreplaylogo475.jpg');
  background-position: right top;
  background-color: #000003;
  font-family: "Averia Libre", "Open Sans", "Helvetica", sans-serif;
}

A:link {text-decoration:none; color:#FF6600; background:black;}
A:visited {text-decoration:none; color:#FF6600; background:black;}
A:active {text-decoration:none; color:#FF6600; background:black;}
A:hover {text-decoration:underline; color:#FF9900; background:black;}

#contentdiv { 
    padding:10px;
    width:90%;
    margin:auto;
}

.linkico { max-height:14px; }
.albumdiv { display:table; }
.albumcontentdiv { display:table-row; }
.coverdiv { display:table-cell; width:150px; height:150px; }
.coverdiv img { width:150px; height:150px; }
.albdetdiv { display:table-cell; padding-left:10px; }
.strownspan { font-style:italic; font-size:small;
  font-family: "Bangers", "Open Sans", sans-serif; }

#descriptdiv { font-size:x-large; }
#descripspan { padding:0px 5px; font-size:medium; 
  background-image: url('../img/semisolidblack.png'); }
#navdiv { padding:0px 0px 20px 0px; 
  font-family: "Open Sans", "Helvetica", sans-serif; }
.bandname { font-size:xx-large; font-weight:bold; }
  
.sectiondiv { font-size:medium; padding:10px 0px 10px 0px; }
.albumtitlediv { padding:10px 0px 0px 0px; font-size:x-large; }
.albumtitlespan { font-style:italic; background: black;
  font-family: "Open Sans", "Helvetica", sans-serif; }
.linksdiv { padding:5px 0px 0px 0px; font-size:small; line-height:1.7em; }
.featrackdiv { padding:10px 0px 0px 0px; }
.trackaud { padding:15px 0px 0px 0px; }
#biodiv { padding:0px 20px; width:80%; margin-right:auto; 
  font-family: serif; background-image:url('../img/semisolidblack.png'); }
#personneldiv { padding:5px 0px; }
#waymusicdiv { padding:10px 0px; font-size:small; }
.sectionheadspan { padding:0px 5px; color:black; background:cyan; }

